.nav {
    grid-area: n;
    background-color: #4882b1;
    border-radius: 10px;
    padding: 10px;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a.active {
    color: #fdd601;
}