.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}


.dialogsItems a.active {
    color: #f5d270;
}


.messages {
    background-color: rgba(129, 83, 184, 0.58);
    padding: 10px;
}
